{{! Templates

Link
==============
<li class="drawer-list-item">
  <a href="#" title="Follow me on twitter!">
    <i class="fa fa-twitter"></i> Follow me
  </a>
</li>

Divider
==============
<li class="drawer-list-divider"></li>

Title
==============
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>

}}

<li class="drawer-list-item">
  <a href="/" data-pjax>
    <i class="fa fa-home"></i>Home
  </a>
</li>
<li class="drawer-list-item">
  <a href="{{@blog.url}}/about">
    <i class="fa fa-info"></i>About Me
  </a>
</li>
<li class="drawer-list-item">
  <a href="{{@blog.url}}/rss/">
    <i class="fa fa-rss"></i>Subscribe to Feed
  </a>
</li>
<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
Follow me elsewhere
</li>
<li class="drawer-list-item">
  <a href="http://twitter.com/johnmardlin" target="_blank">
    <i class="fa fa-twitter"></i>Twitter
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://www.quora.com/John-Jeffrey-Mardlin" target="_blank">
    <i class="fa fa-question-circle"></i>Quora
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://www.linkedin.com/in/johnmardlin" target="_blank">
    <i class="fa fa-linkedin-square"></i>LinkedIn
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://about.me/johnmardlin" target="_blank">
    <i class="fa fa-briefcase"></i>about.me page
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://plus.google.com/106238263426658791612/posts" target="_blank">
    <i class="fa fa-google-plus"></i>Google+
  </a>
</li>



